<!doctype html>
<html lang="en">

  <head>

    <title>test6823</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- 3.3.6 compiled and minified CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  </head>

  <body>

    <div id="test6823App" class="full-height">
    </div>

    <script type="text/javascript" src="/bundle.js"></script>

  </body>

</html>
