$bg-color: white;
$copr-color: #73b56b;

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.full-height {
  height: 100%;
}

body {
  background-color: $bg-color;
  color: black;
}

h1 {
  color: $copr-color;
}